<!doctype html>

<head>
    <title>Factoriall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet">
    <!-- Wisdom of reddit style -->
    <link href="/static/css/qa_interview_style.css" rel="stylesheet">
</head>

<body>
    <div class="container toppy">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="margin-base-vertical text-center">The greatest factorial calculator ... ever!</h1>
                <form action="/factorial" method="POST" class="margin-base-vertical">
                    <p class="input-group">
                        <span class="input-group-addon">
                            <span class="icon-arrow-right"></span>
                        </span>
                        <input type="text" class="form-control input-lg" name="number" placeholder="Enter an integer">
                    </p>
                    <p class="text-center top-space-40">
                        <button type="submit" class="btn btn-success btn-lg">Find me some tangents!</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>